#GENERAL
__pycache__
.vscode

#DATA
data/env-data/
data/json_data/player_details/*
data/json_data/season_shotcharts/*
data/urls.py*
*.csv

#DJANGO
django/env-django/
django/nba_shotcharts/app/fixtures/*.json
django/nba_shotcharts/db.sqlite3
django/nba_shotcharts/app/logs/*