

{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>    
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    
    <!-- FA icons -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Google-Font CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

    <!--Plotly-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <title>NBA Shot Charts | wilsonmacleod.com</title>

</head>
<body>
    <div class="wrapper row1">
      <header id="header" class="clear">
        <a class="home" href="{% url 'base' %}">Home</a>
        <nav>
          <ul>
              {% for s in  season_choices%}
                  {% if s == season %}
                  <li><a href="{% url 'player_view' season=s pid=None chart_type='default'%}"><span>{{s}}</span></a></li>
                  {% else %}
                  <li><a href="{% url 'player_view' season=s pid=None chart_type='default'%}">{{s}}</a></li>
                  {% endif %}
                {% endfor %}
          </ul>
        </nav>
      </header>
    </div>
    <!-- content -->
    <div class="wrapper row2">
      <div id="container" class="clear">
        <!-- main content -->
        <div id="homepage">
          <!-- ########################################################################################## -->
          <!-- ########################################################################################## -->
          <!-- ########################################################################################## -->
          <!-- ########################################################################################## -->
          <!-- Introduction -->
          <section id="intro" class="last clear">
            {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
            {% endif %}
            <article>
                {% block content %}{% endblock %}
            </article>
          </section>
          <!-- / Introduction -->
        </div>
        <!-- / content body -->
      </div>
    </div>
    <!-- Footer -->
    <div class="wrapper row3">
      <div id="footer" class="clear">
        <!-- Section One -->
        <section class="one_quarter">
          <h2 class="title"><a href="https://wilsonmacleod.com/">MY PERSONAL SITE</a></h2>
        </section>
        <!-- Section Two -->
        <section class="one_quarter">
          <h2 class="title"><a href="https://github.com/wilsonmacleod/NBA_shot-charts">GITHUB</a></h2>
        </section>
      </div>
    </div>
    </body>
</body>
</html>