{% extends "base.html" %}

{% block content %}
<section id="slider">
<div class="inline-block">
    <form method="GET" id="first">
        {{ player_select }}
        <input class="btn" type="submit" value="Select"> 
    </form>
    {% if chart != '' %}
  <form action="{% url 'next_season' season=season pid=player_details.PLAYER_ID %}" id="second">
      <input class="btn" type="submit" value="{{ player_details.PLAYER_NAME }} Next Year">
  </form>
  {% endif %}
</div>

</section>
{% if chart != '' %}
<section id="services" class="clear">
    <article class="one_third">
        {% autoescape off %}
        <div>{{ chart }}</div>
    {% endautoescape %}
    </article>
    <article class="one_third lastbox">
      <figure><img src="https://stats.nba.com/media/players/230x185/{{player_details.PLAYER_ID}}.png" alt="No Image">
        <figcaption>
          <h1>{{ season }} <b>{{ player_details.PLAYER_NAME }}</b></h1>
          <p>Age:<b> {{ player_details.AGE }}</b></p>
          <p>Team:<b> {{ player_details.TEAM_ABBREVIATION }}</b></p>
          <p>Most Attempted Zone: {{ most_att }}</p>
          <p>Highest Accuracy Zone: {{ highest_acc }}</p>
          <p>Avg Shot Distance: {{ avg_dist }}</p>
        </figcaption>
      </figure>
    </article>
</section>
{% endif %}

{% endblock content %}